.video-article {
  padding: 25px;

  &__info {
margin-top: 25px;
  }
}

.video-wrapper{
  width: 550px;
  height: 315px;
  background: url('../img/notebook.png') 100%/cover no-repeat;
  position: relative;
  &__btn{
    background-color: inherit;
    position: absolute;
    top: 37%;
    left: 44%;
  }
  & iframe{
    position: absolute;
    z-index: -2;
    width: 550px;
    height: 315px;
  }
}

@media screen and (max-width: 320px) {
  .video-article{
    padding: 0;
    &__info{
      padding: 25px;
    }
  }
  .video-wrapper{
    width: 290px;
    height: 205px;
    & iframe{
      width: 290px;
      height: 205px;
    }
  }

}
