.wrapper{
  width: calc($maxPageWidth + 10px);
  padding: 0 5px;
  margin: 0 auto;
  display: grid;
  grid-template: 40px 1fr 40px / 300px 1fr ;
  grid-template-areas:  'aside header'
  'aside main'
  'aside footer';
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding: 0;
    width: calc(100vw - 10px);
    grid-template: 40px 1fr 40px / 1fr ;
    grid-template-areas:
    'header'
    'main'
    'footer';
  }
}